ytd-thumbnail {
    display: None !important;
}

ytd-post-renderer {
    display: None !important;
}

#video-title {
    font-weight: normal !important;
}

#metadata-line {
    font-size: 10px !important;
    color: #777 !important;
}

#description {
    display: None !important;
}

.less-button {
    display: None !important;
}

.ytd-subscribe-button-renderer {
    display: None !important;
}

#ab4yt-brand {
    display: None !important;
}

#info-text {
    display: None !important;
}

#top-row.ytd-video-secondary-info-renderer {
    display: None !important;
}

.ytd-menu-renderer.style-text {
    display: None !important;
}

.ytd-sentiment-bar-renderer { 
    display: None !important;
}

yt-icon-button.dropdown-trigger {
    display: None !important;
}

ytd-notification-topbar-button-renderer {
    display: None !important;
}

ytd-topbar-menu-button-renderer {
    display: None !important;
}

/*#logo-icon-container {*/
/*    display: None !important;*/
/*}*/

ytd-feed-filter-chip-bar-renderer {
    display: None !important;
}

#avatar-link {
    display: None !important;
}

a[title=Trending] {
    display: None !important;
}

a.ytd-shelf-renderer {
    display: None !important;
}

#img {
    display: None !important;
}

#newness-dot {
    display: None !important;
}

.grid-subheader {
    display: None !important;
}

ytd-rich-grid-renderer {
    --ytd-rich-grid-items-per-row:1 !important;
    --ytd-rich-grid-posts-per-row:3 !important;
    --ytd-rich-grid-movies-per-row:6 !important;
    align-items: flex-start !important;
    padding-left: 10% !important;
}
